/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

svg {
  /* position: absolute;
  left: 0; */
  width: 200px;
  height: 216px;
  fill: purple;
}
svg:hover {
  fill: red;
}

svg:hover + .portal > .entangle {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forground {
    position: fixed;
    width: 100px;
}

/* .forground:hover {
    z-index: 2147483647;
} */

.the_trick {
    position: absolute;
    width: 100px;
    height: 200px;
    left: 40px;
    z-index: 2147483647;
}

.the_trick:hover + .forground {
    z-index: 2147483646;
    transform: translateY(-10%);
}

.the_trick:hover + .forground > svg {
    fill: red;
    transform: scale(1.1);
}

.the_trick:hover + .forground > svg + .portal > .entangle{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1) translateY(-5%);
}

.collective {
    height: 216px;
    list-style: none;
    bottom: -60px;
    position: absolute;
    width: 100%;
}